<!-- finegap/templates/finegap/home.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FineGap - Turismo{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'finegap/styles.css' %}">
    <!-- Incluir estilos y scripts -->
</head>
<body>
    <header>
        <!-- Barra de navegación  -->
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Pie de pagina -->
    </footer>
</body>
</html>
